.CountSeedGame {
    text-align: center;
  }
  
  .rotating-svg {
    margin: 0px auto;
    
  }
  
  .rotating {
    animation: rotate 12s linear infinite;
    width: 400px;
    margin: 0;
    padding: 0;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .answerbuttonz button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 900;
    width: 150px;
    height: 100px;
    border-style: none;
    border-radius: 20px;
  }
  
  .feedback {
    margin-top: 20px;
  }
  
  .feedback.error {
    color: red;
  }
  
  .feedback.success {
    color: green;
  }
  

  .Level7BG
  {
    position: fixed;
    top: 0;
    z-index: -10;
  }

  .BtnL2
  {
    background-color: rgb(62, 124, 62);
    color: white;
    cursor: pointer;
  }

  .QL2
  {
    margin-top: 40px;
    font-size: 50px;
  }