/* Container for the card */
.reportpasswordcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  /* Card styling */
  .reportpasswordcard {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Title styling */
  .reportpasswordcard h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
  }
  
  /* Input field styling */
  .reportpasswordcard input[type="password"] {
width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-size: 16px;
  }
  
  /* Button styling */
  .reportpasswordcard button {
    width: 100%;
    padding: 12px;
    background-color: #ff7b00;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reportpasswordcard button:hover {
    background-color: #dc3c1f;
  }
  