




.analyze-scores {
  text-align: center;
  margin-top: 20px;
}

.analyze-scores button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: 700;
}

.analyze-scores button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.report {
  margin-top: 20px;
  background-color: rgba(240, 248, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.report h2 {
  margin-bottom: 40px;
text-align: center;
  font-size: 50px;
  color: #000000;
}

.report-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
}

.card h3 {
  margin-bottom: 10px;
}
